<!-- <div class="container">
  <% @deck.each do |d| %>
    <li><a href="/deck/<%= d.id %>"><%= d.name %></a></li>
  <% end %>

<div> -->


<div class="container">
  Availabel Deck coming soon
  <table >
      <tr>
        <td>Name</td>
        <td>Name</td>
        <td>Name</td>
        <td>Name</td>
      </tr>
  </table>

<div>
